<!DOCTYPE html>
<html lang="es">
<head>
    <%- include ('./partials/head.ejs') %> 
</head>
<body>
    <%- include ('./partials/header.ejs') %>
    <main>
        <section class="product-list">
            <% winesList.forEach((wine) => { %>
            <article class="vinos-borde">
                <!-- <div class="vinos-borde"> -->
                    <a href="/producto/detail/<%= wine.id %>"><img src="<%= wine.image %>" alt = "<%= wine.name %>" class="images" width="100%"></a>
                    <div class="product-description">
                        <p class = "coleccion"><%= wine.name %> </p>    
                        <p class = "cepa"><%= wine.cepa %></p>
                        <p class = "precio">$ <%= wine.price %></p>     
                        <i class="fas fa-cart-plus"></i>            
                    </div>
                <!-- </div> -->
            </article>
            <% }) %>
        </section>
    </main> 
    <%- include ('./partials/footer.ejs') %>
</body>
</html>