<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('./partials/head.ejs') %>
        <link rel="stylesheet" href="/css/producto.css">    
    </head>
<body>
    <%- include ('./partials/header.ejs') %>
    <main>
        <div class='admin-prod'>
            <h3>Administración de productos</h3>
            <a href="/producto/newProduct"><button class="buy-button" type="button">Nuevo</button></a>
        </div>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Categoría</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Acción</th>
            </tr>
            
            <!-- Aca hacemos el for, para recorrer y cargar las variables en td -->
            
            <% productsList.forEach((product) => { %>
            <tr>
                <td><%= product.id %></td>
                <td><%= product.category %></td>
                <td><%= product.name %></td>
                <td><%= product.price %></td>
                <td><%= product.quantity %></td>
                <td>
                    <a href="/producto/<%= product.id %>/edit"><i class="fas fa-edit"></i></a>
                    <form action="/producto/<%= product.id %>?_method=DELETE" method="POST" class="form-delete">
                        <button type="submit" class="button-delete"><i class="fas fa-trash"></i></button>
                    </form>
<!--                     <a href="/producto/<%= product.id %>/delete"><i class="fas fa-trash"></i></a> -->
                </td>
            </tr><% }) %>
        </table>
        
        </main>
</body>
<%- include ('./partials/footer.ejs') %>
</html>        