<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('./partials/head.ejs') %>
        <link rel="stylesheet" href="/css/producto.css">    
    </head>
<body>
    <%- include ('./partials/header.ejs') %>
    <main>
        <div class="product-detail">
            <div>
                <img src="<%= productDetail.image %>" alt = "<%= productDetail.name %>" class="images" width="100%">
            </div>
            <div class="product-description">
                <h1><%= productDetail.name %> <%= productDetail.cepa %> </h1>
                <p class="sugerencias-titulo">Sugerencias de acompañamiento: </p>
                <p class="sugerencias-desc"><%= productDetail.sugerencia %></p>
                <p class="sugerencias-notas">Notas de Cata</p>
                <p class="sugerencias-desc"><%= productDetail.cata %></p>
            </div>
        </div>
        <br>
        <br>
        <div class="precio">$ <%= productDetail.price %></div>
        <div class="cantidades">
            <i class="fas fa-minus"></i><input type="quantity" class= "place-holder" name="Cantidad" placeholder="1"><i class="fas fa-plus"></i>
        </div>
        <div class="button">
            <button class="buy-button" type="button">COMPRAR</button>
        </div>
        
    </main>
</body>
<%- include ('./partials/footer.ejs') %>
</html>