<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>  
    <link rel="stylesheet" href="/css/registro.css">   
    
</head>
<body>
    <%- include ('../partials/header.ejs') %>
    <main class="register-form">
        <label ><h2>Bienvenido <%= locals.logged.name %></h2> </label>
        <img src="<%= locals.logged.image %>" class="images" width="100%">
        <form action="/user/logout" method="POST" enctype="multipart/form-data">
            <button type="submit" class="button-create">CERRAR SESION</button>
            <hr class="line-break" size="1" width="90%" color="#484747">  
        </form>
    </main>
    <%- include ('../partials/footer.ejs') %>
</body>
</html>