<!DOCTYPE html>
<html lang="es">
<head>
    <%- include ('../partials/head.ejs') %> 
</head>
<body>
    <%- include ('../partials/header.ejs') %>
    <main>
        <section class="product-list">
            <% if (productsFiltered == '') {%>
                <div class="no-products">
                    <p class="message">No hay productos de esta categoría</p> 
                </div>
            <% } else { %>
            <% productsFiltered.forEach((product) => { %>
            <article class="vinos-borde">
                <!-- <div class="vinos-borde"> -->
                    <a href="/producto/detail/<%= product.id %>"><img src="<%= product.image %>" alt = "<%= product.name %>" class="images" width="100%"></a>
                    <div class="product-description">
                        <p class = "coleccion"><%= product.name %> </p>    
                        <p class = "cepa"><%= product.cepa %></p>
                        <p class = "precio">$ <%= product.price %></p>     
                        <i class="fas fa-cart-plus"></i>            
                    </div>
                <!-- </div> -->
            </article>
            <% }) %>
            <% } %>
        </section>
    </main> 
    <%- include ('../partials/footer.ejs') %>
</body>
</html>