<!DOCTYPE html>
<html lang="es">
<head>
    <%- include ('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/producto.css">    
    
</head>
<body> 
    <%- include ('../partials/header.ejs') %>
    <main>
        <!-- Formulario registro
        -->
        <form action="/producto/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data" class="product-form">
            
        
            <label><h2>MODIFICAR PRODUCTO</h2> </label>
            <hr class="line-break" size="1" width="90%" color="#484747">  
            <div class="control-form-product">
                <label for="name">Nombre:</label>
                <input type="text" name="name" id="name" class="control" autofocus required value="<%= product.name %>">
            </div>
            <div class="control-form-product">
                <label for="cepa">Cepa:</label>
                <input type="textarea" name="cepa" id="cepa" class="control" required value="<%= product.cepa %>">
            </div>
            <div class="control-form-product">
                <label for="sugerencia">Sugerencias:</label>                
                <textarea name="sugerencia" id="sugerencia" cols="47" rows="6" class="control" required ><%= product.sugerencia %></textarea>
            </div>
            <div class="control-form-product">
                <label for="cata">Nota de cata:</label>
                <textarea name="cata" id="cata" cols="35" rows="6" class="control" required><%= product.cata %></textarea>
            </div>
            <div class="control-form-product">
                <label for="price">Precio:</label>
                <input type="text" name="price" id="price" value="<%= product.price %>" class="control" required>
            </div>
            <div class="control-form-product">
                <label for="quantity">Cantidad:</label>
                <input type="text" name="quantity" id="quantity" value="<%= product.quantity %>" class="control" required>
            </div>
            <div class="control-form-product">
                <label for="image">Foto del producto:</label>
                    <img src="<%= product.image %>" width="300" />
                <div class="seleccionar">
                    <input type="file" id="image" name="image" class="product-pic">
                </div>
            </div>
            <button type="submit" class="button-create">MODIFICAR PRODUCTO</button>
        </form>
    </main>
    <%- include ('../partials/footer.ejs') %>
</body>
</html>