<!DOCTYPE html>
<html lang="es">
<head>
    <%- include ('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/producto.css">    
    
</head>
<body> 
    <%- include ('../partials/header.ejs') %>
    <main>
        <!-- Formulario registro -->
        <form action="/producto/create" method="POST" id="product-form" class="product-form" enctype="multipart/form-data">
            <label><h2>AGREGAR PRODUCTO</h2> </label>
            <hr class="line-break" size="1" width="90%" color="#484747">  
            <div class="control-form-product">
                <label for="name">Nombre:</label>
                <input type="text" name="name" id="name" class="control" value="<%= locals.oldValues && oldValues.name%>">
                <% if (locals.errors && errors.name) { %>
                    <span class="error-message"><%= errors.name.msg %></span>
                <% } %>
                <span class='msg-error msg-error-name'></span>
            </div>
            <div class="control-form-product">
                <label for="categoryId">Categoría:</label>
                <select name="categoryId" id="categoryId" class="control" autofocus>
                        <% categories.forEach((category) => { %>
                            <option value="<%= category.id %>" <%= (locals.oldValues && oldValues.categoryId) == category.id ? selected="selected" : selected="" %>><%= category.name %></option>
                        <% }) %>
                </select>
                <% if (locals.errors && errors.categoryId) { %>
                    <span class="error-message"><%= errors.categoryId.msg %></span>
                <% } %>
            </div>
            <div class="control-form-product">
                <label for="varietyId">Variedad:</label>
                <select name="varietyId" id="varietyId" class="control" autofocus>
                    <% varieties.forEach((variety) => { %>
                        <option value="<%= variety.id %>" <%= (locals.oldValues && oldValues.varietyId) == variety.id ? selected="selected" : selected="" %>><%= variety.name %></option>
                    <% }) %>
                </select>
                <% if (locals.errors && errors.varietyId) { %>
                    <span class="error-message"><%= errors.varietyId.msg %></span>
                <% } %>
            </div>
            <div class="control-form-product">
                <label for="description">Descripción:</label>                
                <textarea name="description" id="description" cols="47" rows="6" class="control" ><%= locals.oldValues && oldValues.description%></textarea>
                <% if (locals.errors && errors.description) { %>
                    <span class="error-message"><%= errors.description.msg %></span>
                <% } %>
                <span class='msg-error msg-error-description'></span>
            </div>
            <div class="control-form-product">
                <label for="price">Precio:</label>
                <input type="text" name="price" id="price" class="control" value="<%= locals.oldValues && oldValues.price%>">
                <% if (locals.errors && errors.price) { %>
                    <span class="error-message"><%= errors.price.msg %></span>
                <% } %>
            </div>
            <div class="control-form-product">
                <label for="quantity">Cantidad:</label>
                <input type="text" name="quantity" id="quantity" class="control" value="<%= locals.oldValues && oldValues.quantity%>">
                <% if (locals.errors && errors.quantity) { %>
                    <span class="error-message"><%= errors.quantity.msg %></span>
                <% } %>
            </div>
            <div class="control-form-product">
                <label for="image">Foto del producto:</label>
                <!-- <div class="seleccionar"> -->
                    <input type="file" id="image" name="image" class="product-pic">
                    <% if (locals.errors && errors.image) { %>
                        <span class="error-message"><%= errors.image.msg %></span>
                    <% } %>
                    <span class='msg-error msg-error-image'></span>
                <!-- </div> -->
            </div>
            <button type="submit" class="button-create">AGREGAR PRODUCTO</button>
        </form>
    </main>
    <script src="/js/form-validation-new-Product.js"></script> 
    <%- include ('../partials/footer.ejs') %>
</body>
</html>